@page "/projects/schedule"
@inject DialogService DialogService
@using TeaWork.Data.Models
@using TeaWork.Logic.Dto
@using TeaWork.Logic.Services.Interfaces
@using Microsoft.AspNetCore.SignalR.Client
@using TeaWork.Data.Enums
@inject NavigationManager NavigationManager
@inject IProjectService ProjectService
@inject IUserService UserService
@inject INotificationService NotificationService
@inject IDesignConceptService DesignConceptService
@inject ITaskService ProjectTaskService
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<RadzenScheduler @ref=@scheduler SlotRender=@OnSlotRender style="height: 768px;" TItem="Appointment" Data=@appointments StartProperty="Start" EndProperty="End"
                 TextProperty="Text" SelectedIndex="2" AppointmentRender=@OnAppointmentRender>
    <RadzenDayView />
    <RadzenWeekView />
    <RadzenMonthView />
</RadzenScheduler>

@if (projectTasks is not null)
{
    <div class="task-board">
        <div class="row">

            <div class="col-md-4 task-column running-column">
                <h3 class="task-header">@Localizer["NotStarted"]</h3>
                @foreach (var projectTask in projectTasks.Where(t => t.State == TaskState.NotStarted))
                {
                    <RadzenCard class="task-card">
                        <dl class="task-info">
                            @if (projectTask.User is not null)
                            {
                                <dt class="task-label">@Localizer["User"]</dt>
                                <dd class="task-value">@projectTask.User.UserName</dd>
                            }
                            <dt class="task-label">@Localizer["Name"]</dt>
                            <dd class="task-value">@projectTask.Title</dd>
                            <dt class="task-label">@Localizer["Description"]</dt>
                            <dd class="task-value">@projectTask.Description</dd>
                            <dt class="task-label">@Localizer["Beginning"]</dt>
                            <dd class="task-value">@projectTask.CreationDate</dd>
                            <dt class="task-label">@Localizer["Deadline"]</dt>
                            <dd class="task-value">@projectTask.Deadline</dd>
                            <dt class="task-label">@Localizer["Priority"]</dt>
                            <dd class="task-value">@Localizer[projectTask.Priority.ToString()]</dd>
                            @if (projectTask.TasksDistributions is not null)
                            {
                                <dt class="task-label">@Localizer["TaskAssignment"]</dt>
                                @foreach (var user in projectTask.TasksDistributions)
                                {
                                    if (user.User is not null)
                                    {
                                        <dd class="task-value">@user.User.UserName</dd>
                                    }
                                }
                            }
                            @if (projectTask.TaskComments is not null)
                            {
                                foreach (var taskComment in projectTask.TaskComments)
                                {
                                    <RadzenCard class="comment-card">
                                        <dl class="comment-info">
                                            @if (taskComment.User is not null)
                                            {
                                                <dt class="comment-label">@Localizer["User"]</dt>
                                                <dd class="comment-value">@taskComment.User.UserName</dd>
                                            }
                                            <dt class="comment-label">@Localizer["Description"]</dt>
                                            <dd class="comment-value">@taskComment.Description</dd>
                                        </dl>
                                    </RadzenCard>
                                }
                            }
                            <EditForm Model="newComment" OnValidSubmit="@(() => AddComment(projectTask.Id))">
                                <DataAnnotationsValidator />
                                <ValidationSummary class="error-text" />

                                <div class="form-group">
                                    <InputTextArea id="commentDescription" class="form-input" @bind-Value="newComment.Description" />
                                </div>

                                <button type="submit" class="btn-add-comment">@Localizer["AddComment"]</button>
                            </EditForm>
                        </dl>
                    </RadzenCard>
                }
            </div>

            
            <div class="col-md-4 task-column in-progress-column">
                <h3 class="task-header">@Localizer["InProgress"]</h3>
                @foreach (var projectTask in projectTasks.Where(t => t.State == TaskState.InProgress))
                {
                    <RadzenCard class="task-card">
                        <dl class="task-info">
                            @if (projectTask.User is not null)
                            {
                                <dt class="task-label">@Localizer["User"]</dt>
                                <dd class="task-value">@projectTask.User.UserName</dd>
                            }
                            <dt class="task-label">@Localizer["Name"]</dt>
                            <dd class="task-value">@projectTask.Title</dd>
                            <dt class="task-label">@Localizer["Description"]</dt>
                            <dd class="task-value">@projectTask.Description</dd>
                            <dt class="task-label">@Localizer["Beginning"]</dt>
                            <dd class="task-value">@projectTask.CreationDate</dd>
                            <dt class="task-label">@Localizer["Deadline"]</dt>
                            <dd class="task-value">@projectTask.Deadline</dd>
                            <dt class="task-label">@Localizer["Priority"]</dt>
                            <dd class="task-value">@Localizer[projectTask.Priority.ToString()]</dd>
                            @if (projectTask.TasksDistributions is not null)
                            {
                                <dt class="task-label">@Localizer["TaskAssignment"]</dt>
                                @foreach (var user in projectTask.TasksDistributions)
                                {
                                    if (user.User is not null)
                                    {
                                        <dd class="task-value">@user.User.UserName</dd>
                                    }
                                }
                            }
                            @if (projectTask.TaskComments is not null)
                            {
                                foreach (var taskComment in projectTask.TaskComments)
                                {
                                    <RadzenCard class="comment-card">
                                        <dl class="comment-info">
                                            @if (taskComment.User is not null)
                                            {
                                                <dt class="comment-label">@Localizer["User"]</dt>
                                                <dd class="comment-value">@taskComment.User.UserName</dd>
                                            }
                                            <dt class="comment-label">@Localizer["Description"]</dt>
                                            <dd class="comment-value">@taskComment.Description</dd>
                                        </dl>
                                    </RadzenCard>
                                }
                            }
                            <EditForm Model="newComment" OnValidSubmit="@(() => AddComment(projectTask.Id))">
                                <DataAnnotationsValidator />
                                <ValidationSummary class="error-text" />

                                <div class="form-group">
                                    <InputTextArea id="commentDescription" class="form-input" @bind-Value="newComment.Description" />
                                </div>

                                <button type="submit" class="btn-add-comment">@Localizer["AddComment"]</button>
                            </EditForm>
                        </dl>
                    </RadzenCard>
                }
            </div>

            
            <div class="col-md-4 task-column finished-column">
                <h3 class="task-header">@Localizer["Finished"]</h3>
                @foreach (var projectTask in projectTasks.Where(t => t.State == TaskState.Finished))
                {
                    <RadzenCard class="task-card">
                        <dl class="task-info">
                            @if (projectTask.User is not null)
                            {
                                <dt class="task-label">@Localizer["User"]</dt>
                                <dd class="task-value">@projectTask.User.UserName</dd>
                            }
                            <dt class="task-label">@Localizer["Name"]</dt>
                            <dd class="task-value">@projectTask.Title</dd>
                            <dt class="task-label">@Localizer["Description"]</dt>
                            <dd class="task-value">@projectTask.Description</dd>
                            <dt class="task-label">@Localizer["Beginning"]</dt>
                            <dd class="task-value">@projectTask.CreationDate</dd>
                            <dt class="task-label">@Localizer["Deadline"]</dt>
                            <dd class="task-value">@projectTask.Deadline</dd>
                            <dt class="task-label">@Localizer["Priority"]</dt>
                            <dd class="task-value">@Localizer[projectTask.Priority.ToString()]</dd>
                            @if (projectTask.TasksDistributions is not null)
                            {
                                <dt class="task-label">@Localizer["TaskAssignment"]</dt>
                                @foreach (var user in projectTask.TasksDistributions)
                                {
                                    if (user.User is not null)
                                    {
                                        <dd class="task-value">@user.User.UserName</dd>
                                    }
                                }
                            }
                            @if (projectTask.TaskComments is not null)
                            {
                                foreach (var taskComment in projectTask.TaskComments)
                                {
                                    <RadzenCard class="comment-card">
                                        <dl class="comment-info">
                                            @if (taskComment.User is not null)
                                            {
                                                <dt class="comment-label">@Localizer["User"]</dt>
                                                <dd class="comment-value">@taskComment.User.UserName</dd>
                                            }
                                            <dt class="comment-label">@Localizer["Description"]</dt>
                                            <dd class="comment-value">@taskComment.Description</dd>
                                        </dl>
                                    </RadzenCard>
                                }
                            }
                            <EditForm Model="newComment" OnValidSubmit="@(() => AddComment(projectTask.Id))">
                                <DataAnnotationsValidator />
                                <ValidationSummary class="error-text" />

                                <div class="form-group">
                                    <InputTextArea id="commentDescription" class="form-input" @bind-Value="newComment.Description" />
                                </div>

                                <button type="submit" class="btn-add-comment">@Localizer["AddComment"]</button>
                            </EditForm>
                        </dl>
                    </RadzenCard>
                }
            </div>
        </div>
    </div>
}



@code {
    RadzenScheduler<Appointment> scheduler;
    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();
    IList<Appointment> appointments = new List<Appointment>();
    private Project? project;
    private List<ProjectTask>? projectTasks;
    private DesignConceptDto newComment = new DesignConceptDto();

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {

        if (await ProjectService.CheckUserAccess(Id))
        {
            project = await ProjectService.GetProjectById(Id);
        }
        else
        {
            NavigationManager.NavigateTo("projects");
        }
        if (project is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        Appointment appointmentDeadline = new Appointment { Start = project.Deadline, End = project.Deadline, Text = "Deadline" };
        appointments.Add(appointmentDeadline);

        projectTasks = await ProjectTaskService.GetProjectTasks(Id);

        foreach(var task in projectTasks)
        {
            Appointment appointment = new Appointment { Start = task.CreationDate, End = task.Deadline, Text = task.Title };
            appointments.Add(appointment);
        }
        await scheduler.Reload();
    }
    private async Task AddComment(int taskId)
    {
        await ProjectTaskService.AddComment(newComment, taskId);
        project = await ProjectService.GetProjectById(Id);
        projectTasks = await ProjectTaskService.GetProjectTasks(Id);
        newComment = new DesignConceptDto();
        await InvokeAsync(StateHasChanged);
    }

    void OnSlotRender(SchedulerSlotRenderEventArgs args)
    {
        // Highlight today in month view
        if (args.View.Text == "Month" && args.Start.Date == DateTime.Today)
        {
            args.Attributes["style"] = "background: var(--rz-scheduler-highlight-background-color, rgba(255,220,40,.2));";
        }

    }
    void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<Appointment> args)
    {

        if (args.Data.Text == "Deadline")
        {
            args.Attributes["style"] = "background: red";
        }
    }    
}