@page "/projects/tasks"
@using TeaWork.Data.Models
@using TeaWork.Logic.Dto
@using TeaWork.Logic.Services.Interfaces
@using Microsoft.AspNetCore.SignalR.Client
@using TeaWork.Data.Enums
@inject NavigationManager NavigationManager
@inject IProjectService ProjectService
@inject IUserService UserService
@inject INotificationService NotificationService
@inject IDesignConceptService DesignConceptService
@inject ITaskService ProjectTaskService
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@implements IAsyncDisposable

<PageTitle>Project tasks</PageTitle>

<h3>Project Tasks</h3>
<div>
    <h4>Project</h4>
    <hr />
    @if (project is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@project.Title</dd>
            <dt class="col-sm-2">StartDate</dt>
            <dd class="col-sm-10">@project.StartDate</dd>
            <dt class="col-sm-2">Deadline</dt>
            <dd class="col-sm-10">@project.Deadline</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@project.Description</dd>
        </dl>
        <div>
            <a href="@($"/projects/edit?id={project.Id}")">Edit</a> |
            <a href="@($"/projects")">Back to List</a>
        </div>

        <button class="btn btn-primary" @onclick="ShowModal">Add task</button>

        <Modal @ref="modal" Title="Add task">
            <BodyTemplate>
                <EditForm Model="newProjectTask" OnValidSubmit="AddProjectTask">
                    <DataAnnotationsValidator />
                    <ValidationSummary class="text-danger" />

                    <div class="form-group">
                        <label for="title">Title:</label>
                        <InputText id="title" class="form-control" @bind-Value="newProjectTask.Title" />
                        <ValidationMessage For="() => newProjectTask.Title" class="text-danger" />
                    </div>

                    <div class="form-group">
                        <label for="description">Description:</label>
                        <InputText id="description" class="form-control" @bind-Value="newProjectTask.Description" />
                        <ValidationMessage For="() => newProjectTask.Description" class="text-danger" />
                    </div>

                    <div class="form-group">
                        <label for="deadline">Deadline:</label>
                        <InputDate id="deadline" class="form-control" @bind-Value="newProjectTask.Deadline" />
                        <ValidationMessage For="() => newProjectTask.Deadline" class="text-danger" />
                    </div>

                    <div class="form-group">
                        <label for="state">State:</label>
                        <InputSelect id="state" class="form-control" @bind-Value="newProjectTask.State">
                            <option value="">-- Wybierz stan --</option>
                            @foreach (var state in Enum.GetValues<TaskState>())
                            {
                                <option value="@state">@state</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => newProjectTask.State" class="text-danger" />
                    </div>

                    <div class="form-group">
                        <label for="priority">Priority:</label>
                        <InputSelect id="priority" class="form-control" @bind-Value="newProjectTask.Priority">
                            <option value="">-- Wybierz priorytet --</option>
                            @foreach (var priority in Enum.GetValues<TaskPriority>())
                            {
                                <option value="@priority">@priority</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => newProjectTask.Priority" class="text-danger" />
                    </div>

                    <button type="submit" class="btn btn-success">Add</button>
                </EditForm>
            </BodyTemplate>
            <FooterTemplate>
                <Button Color="ButtonColor.Secondary" @onclick="HideModal">Close</Button>
            </FooterTemplate>
        </Modal>



        <div>
            @if (projectTasks is not null)
            {
                @foreach (var projectTask in projectTasks)
                {
                    <dl class="row">
                        @if (projectTask.User is not null)
                        {
                            <dt class="col-sm-2">User</dt>
                            <dd class="col-sm-10">@projectTask.User.UserName</dd>
                        }
                        <dt class="col-sm-2">Title</dt>
                        <dd class="col-sm-10">@projectTask.Title</dd>
                        <dt class="col-sm-2">Description</dt>
                        <dd class="col-sm-10">@projectTask.Description</dd>
                        <dt class="col-sm-2">Creation Date</dt>
                        <dd class="col-sm-10">@projectTask.CreationDate</dd>
                        <dt class="col-sm-2">Deadline</dt>
                        <dd class="col-sm-10">@projectTask.Deadline</dd>
                        <dt class="col-sm-2">State</dt>
                        <dd class="col-sm-10">@projectTask.State</dd>
                        <dt class="col-sm-2">Priority</dt>
                        <dd class="col-sm-10">@projectTask.Priority</dd>
                    </dl>

                    <button class="btn btn-primary" @onclick="ShowAssignModal">Assign a task</button>

                    <Modal @ref="assignModal" Title="Assign a task">
                        <BodyTemplate>
                            <EditForm Model="newUser" OnValidSubmit="@(() => AssignTask(projectTask.Id))">
                                <DataAnnotationsValidator />
                                <ValidationSummary class="text-danger" />                        

                                <div class="form-group">
                                    <label for="priority">User:</label>
                                    <InputSelect id="user" class="form-control" @bind-Value="newUser.Id">
                                        <option value="">-- Assign user --</option>
                                        @if (users is not null)
                                        {
                                            @foreach (var user in users)
                                            {
                                                <option value="@user.Id">@user.Name</option>
                                                
                                            }
                                        }
                                    </InputSelect>

                                    <ValidationMessage For="() => newUser.Name" class="text-danger" />
                                </div>
                                

                                <button type="submit" class="btn btn-success">Add</button>
                            </EditForm>
                        </BodyTemplate>
                        <FooterTemplate>
                            <Button Color="ButtonColor.Secondary" @onclick="HideAssignModal">Close</Button>
                        </FooterTemplate>
                    </Modal>
                }
            }
        </div>
    }
</div>

@code {
    private HubConnection? hubConnection;
    private Project? project;
    private List<UserDto>? users; 
    private List<ProjectTask>? projectTasks;
    private Modal modal = default!;
    private Modal assignModal = default!;
    private ProjectTaskAddDto newProjectTask = new ProjectTaskAddDto();
    private UserDto newUser = new UserDto();


    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/communicationhub"))
            .Build();
        await hubConnection.StartAsync();


        project = await ProjectService.GetProjectById(Id);

        if (project is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        projectTasks = await ProjectTaskService.GetProjectTasks(Id);
        users = await UserService.GetProjectUsers(Id);
    }
    public async Task AddProjectTask()
    {
        if (newProjectTask != null)
        {
            await ProjectTaskService.Add(newProjectTask, Id);
            project = await ProjectService.GetProjectById(Id);
            projectTasks = await ProjectTaskService.GetProjectTasks(Id);
            newProjectTask = new ProjectTaskAddDto();
            await HideModal();
            await InvokeAsync(StateHasChanged);
        }
    }
    public async Task AssignTask(int projectTaskId)
    {
        if (newUser.Id != null)
        {
            await ProjectTaskService.AddTaskDistribution(projectTaskId, newUser.Id);
            project = await ProjectService.GetProjectById(Id);
            projectTasks = await ProjectTaskService.GetProjectTasks(Id);
            newUser = new UserDto();
            await HideAssignModal();
            await InvokeAsync(StateHasChanged);
        }
    }
    private async Task ShowModal()
    {
        await modal.ShowAsync();
    }

    private async Task HideModal()
    {
        await modal.HideAsync();
    }
    private async Task ShowAssignModal()
    {
        await assignModal.ShowAsync();
    }

    private async Task HideAssignModal()
    {
        await assignModal.HideAsync();
    }
    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
